@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <form method="post" name="Display">
        <h2>CRUD operation with MVC</h2>
        @Html.ActionLink("Add New Record", "Insert")
        <br />
        @{
            if (Model.Rows.Count > 0)
            {
                <table border="1">
                    <thead>
                        <tr>
                            <td>
                                Product ID
                            </td>
                            <td>
                                Product Name
                            </td>
                            <td>
                                Category ID
                            </td>
                            <td>Category Name</td>
                        </tr>
                    </thead>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>
                            <td>@dr["ProductId"].ToString() </td>
                            <td>@dr["ProductName"].ToString() </td>
                            <td>@dr["CategoryId"].ToString() </td>
                            <td>@dr["CategoryName"].ToString() </td>
                            <td>@Html.ActionLink("Edit ", "Edit", new { ProductID = dr["ProductId"].ToString() })</td>
                            <td>@Html.ActionLink("| Delete", "Delete", new { ProductID = dr["ProductId"].ToString() })</td>
                        </tr>

                    }
                </table>
                <br />
            }
            else
            {
                <span> No records found!!</span>
            }
        }
    </form>
</body>
</html>
